

class ListOf{{ name }}:
    def __init__(self, stepik):
        from stepik import Stepik
        self._stepik: Stepik = stepik
{% if GET_PK %}


    def get(self, {{ pk }}: {{ pk_type }}) -> {{ model.id }}:
        return self._stepik._fetch_object({'_resources_name': '{{ resources_name }}'}, {{ pk }})

{% endif %}
{% if GET_BASE %}


    def get_all(self, {{ pk }}s: List[{{ pk_type }}], keep_order=False) -> Iterable[{{ model.id }}]:
        return self._stepik._fetch_objects({{ model.id }}, {{ pk }}s)


    def __iter__(self):
        yield from self.iterate(limit=None)


{% endif %}
{% if POST_BASE %}


    def create(self{#
        #}{% for p in POST_BASE_PARAMS %}, {{ p.name }}: {{ p.python_type }}{#
        #}{% endfor %}{#
        #}{% for p in POST_BASE_OTHER_PARAMS %}, {{ p.name }}: {{ p.python_type }} = None{#
        #}{% endfor %}) -> {{ model.id }}:
        vars = locals().copy()
        data = {'{{ resource_name }}': {k: v for k, v in vars.items() if k != 'self' and v is not None}}

        resources_name = '{{ resources_name }}'
        response = self._stepik._post(resources_name, data)

        if resources_name not in response:
            raise StepikError(response)

        return response[resources_name][0]
{% endif %}
{% if DELETE_PK %}


    def delete(self, {{ pk }}: {{ pk_type }}) -> dict:
        return self._stepik._delete('{{ resources_name }}', {{ pk }})
{% endif %}
{#{% if PUT_PK %}#}
{##}
{##}
{#    def update(self, {{ resource_name_as_variable }}: {{ model.id }}):#}
{#        resources_name = '{{ resources_name }}'#}
{#        response = self._stepik._put('%s/%s' % (resources_name, {{ resource_name_as_variable }}.{{ pk }}), {{ resource_name_as_variable }}._data)#}
{##}
{#        if resources_name not in response:#}
{#                raise StepikError(response)#}
{##}
{#{% if model_id == 'dict' %}#}
{#        return response[resources_name][0]#}
{#{% else %}#}
{#        return {{ model.id }}(self._stepik, response[resources_name][0])#}
{#{% endif %}#}
{#{% endif %}#}
{# TODO: PUT #}
{# TODO: create course!1 #}
{# TODO: presentation #}
{##}
